li > button:hover,
li > button:focus {
    background-color: transparent;
}

button:active,
button:hover {
    outline: 0;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open > li > button:hover,
    .navbar-inverse .navbar-nav .open > li > button:focus {
        color: #fff;
        background-color: transparent;
    }
}

label {
    padding-top: 0px;
}