
<div class="row" style="margin: 0px; padding: 0px">
    <div class="col-sm-4 col-sm-offset-1">
        <h4>Добро пожаловать!</h4>
        <p align="justify">Наша компания разрабатывает и производит современные доступные пасечнику устройства для автоматизации процессов пчеловодства и удаленного наблюдения за пасекой.</p>
    </div>
    <div class="col-sm-4 col-sm-offset-3">
        <h4>Возможности "Умного улья"</h4>
        <p align="justify">
            - контроль веса улья<br>
            - контроль температуры и влажности внутри улья<br>
            - датчики целостности улья и блока электроники<br>
            - отсылка измеренных данных по Интернет<br>
            - отсылка тревожных СМС сообщений<br>
        </p>
    </div>
</div>