<div class="modal fade" id="modalChangeAp">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Изменить критические показатели пасеки</h4>
            </div>
            <!--modal-header-->
            <div class="model-body" style="padding-top: 20px;">
                <form class="form-horizontal" style="margin-left: 10px;">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-4 control-label">Мин.темп.</label>

                        <div class="col-sm-9 col-xs-9">
                            <input type="temp" class="form-control" data-bind="min_temp"
                                   oninput="changeAppService.changeAppValidation(this)" placeholder="Мин t'C"
                                   style="margin-left: 30px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-4 control-label">Макс.темп.</label>

                        <div class="col-sm-9 col-xs-9">
                            <input type="temp" class="form-control" data-bind="max_temp"
                                   oninput="changeAppService.changeAppValidation(this)" placeholder="Mакс t'C"
                                   style="margin-left: 30px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-4 control-label">Мин.влажн.</label>

                        <div class="col-sm-9 col-xs-9">
                            <input type="hum" class="form-control" data-bind="min_hum"
                                   oninput="changeAppService.changeAppValidation(this)" placeholder="Mин г/м³"
                                   style="margin-left: 30px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-4 control-label">Макс.влажн.</label>

                        <div class="col-sm-9 col-xs-9">
                            <input type="hum" class="form-control" data-bind="max_hum"
                                   oninput="changeAppService.changeAppValidation(this)" placeholder="Mакс г/м³"
                                   style="margin-left: 30px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-2 col-xs-offset-5 col-xs-2" style="padding: 0px;">
                            <button type="button" class="btn btn-default" onclick="ApiarFactory().actions.changeAp()">
                                Сохранить изменения
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--modal-body-->
            <div class="modal-footer">
            </div>
            <!--modal-footer-->
        </div>
    </div>
</div>
<!-- /.modalChangeAp -->

<div class="modal fade" id="modalChangeHive">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Изменить GSM номер улья</h4>
            </div>
            <!--modal-header-->
            <div class="model-body" style="padding-top: 20px;">
                <form class="form-horizontal" style="margin-left: 10px;">
                    <div class="form-group">
                        <label class="col-sm-2 col-xs-4 control-label">Введите номер</label>
                        <div class="col-sm-9 col-xs-9">
                            <input type="phone" class="form-control" data-bind="phone"
                                   oninput="changeHiveService.changeHiveValidation(this)" placeholder="8**********"
                                   style="margin-left: 30px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-2 col-xs-offset-5 col-xs-2" style="padding: 0px;">
                            <button type="button" class="btn btn-default" onclick="HivesFactory().action.changeHives()">
                                Сохранить изменения
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--modal-body-->
            <div class="modal-footer">
            </div>
            <!--modal-footer-->
        </div>
    </div>
</div>
<!-- /.modalChangeAp -->

<div class="row" style="margin: 15px;">
    <div class="panel panel-default forTable" style="padding: 0px;">
        <table class="table table-hover TableAppend">
        </table>
    </div>
</div>
<!-- Table -->
